label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

input,select {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}

input[type="submit"] {
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #abd4ff;
}

