
.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh; 
    margin: 0 auto; 
    width: 1000px;
}

.titulo{
    text-align: center;
    color: green;
    font-size: 50px;
    margin: 5px;
}
img{
    width: 100%;
}
 #blanco{
    display: flex;
    color: white;
    /*border: 0.5px solid white;*/
    padding: 5px;
    align-items: center;
    text-decoration: none;
 }
.verde{
    background: green;
}
.rosa{
    background: rgb(236, 73, 100);
}
.naranja{
    background: rgb(230, 150, 3);
}
.morado{
    background: rgb(129, 9, 185);
}
.menu{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    background: black;
    height: 45px;
    justify-content: flex-start;
    width: 85%;

}

.menu >a:hover, a:active {
    background-color: rgb(85, 83, 83);
}
a{
    text-decoration: none;
}